---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	<button class="bg-blue-600 text-white px-6 py-2 rounded-lg shadow-md mt-8">Test Tailwind Button</button>
	</body>
</html>
